<div class="footer_eu">
    <div class="footer_eu-logo">
        <img src = "/assets/images/eu-sns-join-nobg.png" alt="Europe Flag" style="width:750px;"/>
    </div>

    <div class="footer_eu-text">
        The TrialsNet project has received funding from the European Union’s Horizon-JU-SNS-2022 Research and Innovation Programme under Grant Agreement No. 101095871. 
    </div>
</div>
<p style="font-size:11px"><center>
<a href="https://trialsnet.eu/tos/">Terms of Service</a> <a href="https://trialsnet.eu/privacypolicy/">Privacy Policy</a>
</center></p>
