.footer_eu {
    font-size: $type-size-6;
    display: grid; 
    grid-template-columns: 1fr 6fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Logo Text"; 
    height: 10%; 
  }
  .footer_eu-logo { grid-area: Logo; text-align: center;margin: auto;}
  .footer_eu-text { grid-area: Text; }