.footer_eu {
    font-size: 0.75em;
    display: grid; 
    grid-template-columns: 2fr 3fr 2fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px 0px;
    grid-template-areas: 
      "Logo Text Twitter"; 
    height: 10%; 
  }

.page__title { color: #314D8A; text-decoration: none; }

.page__footer {
    color: #314D8A;
    background-color: #DBE5F1
}

.footer_eu-logo { grid-area: Logo; text-align: center;margin: auto;}
.footer_eu-text { grid-area: Text; text-align: center;margin: auto;}
.footer_twitter { grid-area: Twitter; text-align: center;margin: auto; }

.entries-grid-ucrow {display: inline-block;}
.entries-grid-newsrow {display: inline-block;}


h1 {
    color:#314D8A;
}

h2 {
    color:#314D8A;
}

h3 {
  color:#314D8A;
}

.toc .nav__title {
    background: #314D8A;
}

#general-faqs {
  margin-top: 1em
}


#technical-faqs {
  margin-top: 2em
}